/*@charset "utf-8";*/
/*!* CSS Document *!*/

/*body {*/
/*	background: #E9DDD3;*/
/*}*/
/*#formWrapper {*/
/*    border: solid #000000;*/
/*    border-radius: 10px;*/
/*    position: absolute;*/
/*    left: 50%;*/
/*    top: 50%;*/
/*    transform: translate(-50%, -50%);*/
/*    width: auto;*/
/*    height: auto;*/
/*    text-align: center;*/
/*	padding: 20px 30px 0px 20px;*/
/*}*/
/*label{*/
/*	width: 200px;*/
/*!*	display: inline-block;*!*/
/*	text-align: right;*/
/*	font-size: 25px;*/
/*}#loginButton {*/
/*    background-color: transparent;*/
/*    border: thin solid #000000;*/
/*    border-radius: 10px;*/
/*	font-size: 15px;*/
/*}*/
/*#formHeader{*/
/*	font-family: 'Poiret One', cursive;*/
/*	font-size: 60px;*/
/*}*/
/*#navbar{*/
/*    background-color: #E9DDD3;*/
/*    border: thin solid #000000;*/
/*    border-radius: 10px;*/
/*	overflow: hidden;*/
/*	margin: 5px;*/
/*}*/
/*#navbarHeader{*/
/*float:left;*/
/*width:80%;*/
/*}*/
/*#menuOptions{*/
/*float:left;*/
/*width:20%;*/
/*text-align: right;*/
/*}*/
/*#search{*/
/*    float: right;*/
/*}*/
/*#search input[type=text] {*/
/*    font-size: 20px;*/
/*    width: 100px;*/
/*    background-color: #E9DDD3;*/
/*    border-bottom: 1px solid #000000;*/
/*    outline: none;*/
/*    border-top-style: none;*/
/*    border-right-style: none;*/
/*    border-left-style: none;*/
/*}*/
/*#navbar a {*/
/*	float: left;*/
/*  color: red;*/
/*  padding: 14px 16px;*/
/*  text-decoration: none;*/
/*  font-size: 17px;*/
/*}*/

/*#navbar a:hover {*/
/*  background-color: #ddd;*/
/*  color: black;*/
/*}*/

/*#navbar a.active {*/
/*  background-color: #04AA6D;*/
/*  color: white;*/
/*}*/

/*#aboutWrapper{*/
/*    margin: 0;*/
/*	overflow: hidden;*/
/*	padding: 20px;*/
/*}*/
/*#recipeWrapper{*/
/*    overflow: hidden;*/
/*    padding: 20px 5px;*/
/*    margin: 0;*/
/*    border-bottom: thin solid #000000;*/
/*}*/
/*#picture{*/
/*    float: left;*/
/*    width: 35%;*/
/*    background-color: white;*/
/*    border-radius: 10px;*/
/*}*/
/*#aboutContent{*/
/*float:right;*/
/*width:60%;*/
/*text-align: center;*/
/*font-size: 25px;*/
/*	padding-right: 5px;*/
/*}*/
/*#pictureLocation{*/
/*    position: relative;*/
/*    top: 10px;*/
/*    left: 10px;*/
/*    border-radius: 10px;*/
/*	width: 100%;*/
/*	height: auto;*/
/*}*/
/*!*#searchIcon{*!*/
/*!*	position: relative;*!*/
/*!*	top: 2px;*!*/
/*!*}*!*/
/*!**/
/*img{*/
/*	border-radius: 10px;*/
/*    border: 1px solid #000000;*/
/*	width: 50%;*/
/*	max-height: 50%;*/
/*}*/
/**!*/

/*#uploadImg {*/
/*	float: left;*/
/*    max-width: 48%;*/
/*	width: auto;*/
/*    background-color: white;*/
/*    border-radius: 10px;*/
/*	height: auto;*/
/*    }*/
/*  #uploadImg img {*/
/*    position: relative;*/
/*    top: 10px;*/
/*    left: 10px;*/
/*    border-radius: 10px;*/
/*    max-width: 100%;*/
/*    max-height: 400px;*/
/*    border: 1px solid #000000;*/
/*    }*/
/*#logo{*/
/*	font-size: 50px;*/
/*	margin-top: 5px;*/
/*	margin-left: 5px;*/
/*}*/
/*#recipeDescription{*/
/*	float:left;*/
/*width:50%;*/
/*!*text-align: center;*!*/
/*font-size: 25px;*/
/*	padding: 0px 0px 0px 20px;*/
/*}*/
/*#uploadLabel{*/
/*	width: 200px;*/
/*	display: inline-block;*/
/*	text-align: center;*/
/*	font-size: 25px;*/
/*}*/
/*.recipeLables{*/
/*	width: 200px;*/
/*!*	display: inline-block;*!*/
/*	text-align: left;*/
/*	font-size: 25px;*/
/*}*/



/*.form-inline {*/
/*  display: flex;*/
/*  flex-flow: row wrap;*/
/*  align-items: center;*/
/*	flex-direction: column;*/
/*    align-items: stretch;*/
/*}*/

/*.form-inline label {*/
/*  margin: 5px 10px 5px 0;*/
/*}*/

/*.form-inline input {*/
/*  vertical-align: middle;*/
/*  margin: 10px 0;*/
/*  padding: 10px;*/
/*  background-color: #fff;*/
/*  border: 1px solid #ddd;*/
/*}*/

/*!**/
/*@media (max-width: 800px) {*/

/*  .form-inline {*/
/*    flex-direction: column;*/
/*    align-items: stretch;*/
/*  }*/
/*}*!*/
/*input[type=text] {*/
/*    width: 130px;*/
/*    box-sizing: border-box;*/
/*    border: 2px solid #ccc;*/
/*    border-radius: 4px;*/
/*    font-size: 16px;*/
/*    background-color: transparent;*/
/*    background-image: url("search_icon.png");*/
/*    background-position: 10px 10px;*/
/*    background-repeat: no-repeat;*/
/*    padding: 12px 20px 12px 40px;*/
/*    -webkit-transition: width 0.4s ease-in-out;*/
/*    transition: width 0.4s ease-in-out;*/
/*}*/

/*input[type=text]:focus {*/
/*    width: 20%;*/
/*}*/
i{
    color: purple;
}

.footer-basic {
    padding:40px 0;
    background-color:#ffffff;
    color:#4b4c4d;
}

.footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
}

.footer-basic li {
    padding:0 10px;
}

.footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
}

.footer-basic ul a:hover {
    opacity:1;
}

.footer-basic .social {
    text-align:center;
    padding-bottom:25px;
}

.footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
}

.footer-basic .social > a:hover {
    opacity:0.9;
}

.footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
}

li{
    display: inline-block;
}
